body {
  display: flex;
  flex-direction: column;
}

#toolbar {
  height: 10%;
  background-color: blue;
  background-color: hsl(210, 100%, 70%);
  text-shadow: 0px 0px 30px black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mainPart {
  background-color: hsl(0, 0%, 100%);
  flex-grow: 1;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header header"
    "quests quests dials dials persos persos"
    "quests quests dials dials persos persos"
    "quests quests dials dials persos persos"
    "footer footer footer footer footer footer";
}


footer {
  color: white;
  background-color: hsl(0, 0%, 13%);
  display: flex;
  flex-direction: row;
}

footer > p {
  margin: 0;
  padding: 0;
}

footer:first-child {
  align-self: flex-start;
}

footer > p:last-child {
  align-self: flex-end;
  margin-left: auto;
}

#updateBtn{
  align-self: flex-end;
  margin-left: auto;
  height: 100%;
  width: 200px;
  font-size: 30px;
  background-color: hsl(100, 70%, 50%);
  border: solid 1px transparent;
  transition: background-color 0.1s;
  outline: 0;
  color: white;
}

#updateBtn:hover{
  background-color: hsl(100, 70%, 45%);
}

#updateBtn:active{
  background-color: hsl(100, 70%, 40%);
}

#toolbar > p {
  font-size: 30px;
}

.brick {
  border: solid transparent 1px;
  padding: 10px;
  transition: background-color 0.1s;
  text-align: center;
  line-height: 100%;
  font-size: 80px;
  color: white;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#story {
  grid-area: header;
  background-color: hsl(0, 65%, 50%);
}

#quests {
  grid-area: quests;
  background-color: hsl(90, 65%, 50%);
}

#dials {
  grid-area: dials;
  background-color: hsl(40, 65%, 50%);
}

#persos {
  grid-area: persos;
  background-color: hsl(200, 65%, 50%);
}

#params {
  grid-area: footer;
  background-color: hsl(270, 65%, 50%);
}



#story:hover {
  background-color: hsl(0, 65%, 45%);
}

#quests:hover {
  background-color: hsl(90, 65%, 45%);
}

#dials:hover {
  background-color: hsl(40, 65%, 45%);
}

#persos:hover {
  background-color: hsl(200, 65%, 45%);
}

#params:hover {
  background-color: hsl(270, 65%, 45%);
}


#story:active {
  background-color: hsl(0, 65%, 40%);
}

#quests:active {
  background-color: hsl(90, 65%, 40%);
}

#dials:active {
  background-color: hsl(40, 65%, 40%);
}

#persos:active {
  background-color: hsl(200, 65%, 40%);
}

#params:active {
  background-color: hsl(270, 65%, 40%);
}
